.menu {
    height: 15px;
    width: auto;
    background-color: #000;
}
.text-sobre{
    text-align: justify;
    width: 650px;
    margin: auto ;
}

.img-sobre {
    margin-left: -40px;
    width: 650px;
    height: auto;
}

figcaption {
    text-align: center;
}

#rodape {
    color: #fff;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 15px;
    height: 50px;
    width: auto;
    background-color: #000;
}